.contact-section {
  display: flex;
  max-width: 60%;
  margin: 0 auto 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-image: url("/Images/background.png");
  opacity: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.contact-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-container h1 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.inputWithButton {
  display: flex;
  background-color: #fff;
  border-radius: 50px;
  width: 430px;
  margin-left: 10%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 3px;
}

.inputWithButton input {
  font-family: "Montserrat";
  margin-left: 5%;
  flex: 1;
  padding: 10px;
  padding-left: 5%;
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 0.9rem;
  outline: none;
  color: #000000;
  background: none;
}

.inputWithButton input::placeholder {
  color: #777474;
}

.inputWithButton button {
  background: linear-gradient(135deg, #1e90ff 0%, #007bff 100%);
  color: white;
  border: none;
  margin: 1px;
  padding: 10px 15px;
  font-size: 0.9rem;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-section {
    max-width: 85%; 
    height: auto; 
    border-radius: 30px;
  }

  .contact-container{
    padding: 10px 10px;
  }
  .contact-container h1 {
    font-size: 10px; 
    margin-bottom: 15px;
  }

  .inputWithButton {
    width: 90%;
    margin-left: 10px; 
    margin-bottom: 10px;
    padding: 0;
  }

  .inputWithButton input {
    font-size: 0.6rem; 
  }

  .inputWithButton button {
    font-size: 0.8rem; 
    margin:3px;
  }
}

@media (max-width: 480px) {

  .contact-container h1 {
    font-size: 15px; 
  }

  .inputWithButton input {
    padding: 8px; 
  }

  .inputWithButton button {
    padding: 3px 8px; 
  }
}
