.service-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px 25px 0 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: start;
  transition: transform 0.2s ease-in-out;
}

.service-card h3 {
  margin: 15px 0;
  margin-left: auto;
  font-size: 20px; 
}

.service-card p {
  color: #000000;
  font-size: 16px; 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .service-card {
    padding: 15px 20px; 
  }

  .service-card h3 {
    font-size: 18px; 
    margin: 10px 0; 
  }

  .service-card p {
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  .service-card {
    padding: 10px 15px; 
  }

  .service-card h3 {
    font-size: 16px; 
    margin: 8px 0; 
  }

  .service-card p {
    font-size: 12px; 
  }
}
