/* CSS Variables for colors */
:root {
  --primary-color: #1b7ce3;
  --active-dot-color: #1e90ff;
  --max-image-width: 1300px;
}

/* Image Slider Styles */
.image-slider {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0 40px;
  text-align: center;
  overflow: hidden;
  outline: none;
}

.slider-item {
  transition: transform 0.3s ease, filter 0.3s ease;
  overflow: hidden;
  border-radius: 30px;
  outline: none;
}

.image-slider img {
  width: 78%; /* For larger screens */
  height: 350px;
  margin: 0 auto;
  display: block;
  object-fit: contain;
  object-position: center;
}

.slick-slide {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.slick-center img {
  transform: scale(1.3);
  filter: blur(0);
}

.slick-slide:not(.slick-center) img {
  filter: blur(5px);
  transform: scale(0.8);
}

/* Customize Navigation Arrows */
.slick-prev {
  left: 25px;
  z-index: 1;
}
.slick-next {
  right: 25px;
  z-index: 1;
}
/* Customize Dots */
.slick-dots li button:before {
  margin-top: 12px;
  font-size: 10px;
  color: var(--primary-color);
}

.slick-dots li.slick-active button:before {
  color: var(--active-dot-color);
}

/* Responsive Design */
@media (max-width: 1024px) {
  /* Adjust the image size for tablets */
  .image-slider img {
    width: 85%; 
    height: 300px;
  }

  .slider-item {
    border-radius: 20px;
  }
  
}

@media (max-width: 768px) {
  /* Adjust the image size for mobile devices */
  .image-slider img {
    width: 90%; 
    height: 250px;
    border-radius: 15px; 
  }

  /* Reduce the center mode padding on smaller screens */
  .slick-center img {
    border-radius: 15px;
    transform: scale(1.2); 
  }
  
  .slick-slide:not(.slick-center) img {
    filter: blur(4px);
    transform: scale(0.9); 
  }
  
  /* Adjust padding and navigation button size */
  .image-slider {
    padding: 10px 0 30px;
  }

  .slick-prev, .slick-next {
    top: 50%;
    font-size: 12px; /* Make navigation arrows smaller on mobile */
  }
  .slick-dots li button:before {
    margin-top: 10px; 
    font-size: 9px; 
  }
}

@media (max-width: 480px) {
  /* Further adjustments for small mobile devices */
  .image-slider img {
    width: 95%; 
    height: 200px;
  }

  .slick-prev, .slick-next {
    font-size: 10px; /* Even smaller arrows */
  }

  .image-slider {
    padding: 8px 0 20px;
  }
  .slick-dots li button:before {
    margin-top: 8px; 
    font-size: 8px; 
  }
}


