.services-header {
  background-color: rgb(30, 144, 255);
  color: white;
  cursor: pointer;
  padding: 7px;
  position: relative;
  text-align: center;
}

.services-container {
  max-width:90%;
  margin: 10px auto;
  padding: 20px;
  background-color: white;
  line-height: 1.6;
  position: relative;
  z-index: 1;
  
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

.service-image {
  width: 500px; 
  /* height: 400px; */
  margin-right: 15px; 
  border-radius: 15px; 
  box-shadow:0 6px  8px  rgba(0, 0, 0, 0.1)

}

.service-section {
  margin: 20px 0;
  padding: 20px;
  border: 0.5px solid #eeeeee8a;
  border-radius: 3px;
}

.services-container h1 {
  font-size: 32px;
  color: #0e0e0e;
}

p {
  color: #0e0e0e;
}

/* Flexbox layout */
.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 60px;
}

.left-content {
  flex: 1;
  max-width: 500px;
  justify-content: center;
}

.right-image {
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 250px;
}

.right-image img {
  max-width: 100%;
  height: auto;
}

/* Reverse layout for alternating sections */
.reverse {
  flex-direction: row-reverse;
}

/* Responsive design */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    text-align: center;
  }

  .right-image {
    margin-top: 20px;
  }

  .reverse {
    flex-direction: column;
  }
}
